---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/lp-dia/Navbar.astro';
import Hero from '../components/lp-dia/Hero.astro';
import Servicos from '../components/lp-dia/Servicos.astro';
import Sobre from '../components/lp-dia/Sobre.astro';
import Equipe from '../components/lp-dia/Equipe.astro';
import Galeria from '../components/lp-dia/Galeria.astro';
import Depoimentos from '../components/lp-dia/Depoimentos.astro';
import Faq from '../components/lp-dia/Faq.astro';
import Cta from '../components/lp-dia/Cta.astro';
import Parceiros from '../components/lp-dia/Parceiros.astro';
import Localizacao from '../components/lp-dia/Localizacao.astro';
import Contato from '../components/lp-dia/Contato.astro';
import Footer from '../components/lp-dia/Footer.astro';
import Transporte from '../components/lp-dia/Transporte.astro';
import WhatsappButton from '../components/lp-dia/WhatsappButton.astro';
import GoogleAdsTag from '../components/GoogleAdsTag.astro';
---

<Layout title="Dr. Animal - Clínica Veterinária">
  <GoogleAdsTag />
  <Navbar />
  <main>
    <Hero />
    <Servicos />
    <Transporte />
    <Depoimentos />
    <Sobre />
    <Galeria />
    <Faq />
    <Cta />
    <Localizacao />
    <Contato />
  </main>
  <Footer />
  <WhatsappButton />
</Layout>
