---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/lp-24h/Navbar.astro';
import HeroLP24h from '../components/lp-24h/Hero.astro';
import ServicosLP24h from '../components/lp-24h/Servicos.astro';
import SobreLP24h from '../components/lp-24h/Sobre.astro';
import FaqLP24h from '../components/lp-24h/Faq.astro';
import CtaLP24h from '../components/lp-24h/Cta.astro';
import LocalizacaoLP24h from '../components/lp-24h/Localizacao.astro';
import ContatoLP24h from '../components/lp-24h/Contato.astro';
import Footer from '../components/lp-24h/Footer.astro';
import WhatsappButton from '../components/lp-24h/WhatsappButton.astro';
---

<Layout title="Dr. Animal - Clínica Veterinária 24h">
  <Navbar />
  <main>
    <HeroLP24h />
    <ServicosLP24h />
    <SobreLP24h />
    <FaqLP24h />
    <CtaLP24h />
    <LocalizacaoLP24h />
    <ContatoLP24h />
  </main>
  <Footer />
  <WhatsappButton />
</Layout>
