---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Servicos from '../components/Servicos.astro';
import Sobre from '../components/Sobre.astro';
import Equipe from '../components/Equipe.astro';
import Galeria from '../components/Galeria.astro';
import Depoimentos from '../components/Depoimentos.astro';
import Blog from '../components/Blog.astro';
import Planos from '../components/Planos.astro';
import Faq from '../components/Faq.astro';
import Avaliacao from '../components/Avaliacao.astro';
import Cta from '../components/Cta.astro';
import Parceiros from '../components/Parceiros.astro';
import Localizacao from '../components/Localizacao.astro';
import Contato from '../components/Contato.astro';
import Footer from '../components/Footer.astro';
import Transporte from '../components/Transporte.astro';
---

<Layout title="Dr. Animal - Clínica Veterinária">
  <Navbar />
  <main>
    <Hero />
    <Servicos />
    <Transporte />
    <Depoimentos />
    <Sobre />
    <Equipe />
    <Galeria />
    {/* <Blog /> */}
    <Planos />
    <Faq />
    <Cta />
    <Parceiros />
    <Localizacao />
    <Contato />
  </main>
  <Footer />
</Layout>
