---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/index/Navbar.astro';
import Hero from '../components/index/Hero.astro';
import Servicos from '../components/index/Servicos.astro';
import Sobre from '../components/index/Sobre.astro';
import Equipe from '../components/index/Equipe.astro';
import Galeria from '../components/index/Galeria.astro';
import Depoimentos from '../components/index/Depoimentos.astro';
import Blog from '../components/index/Blog.astro';
import Planos from '../components/index/Planos.astro';
import Faq from '../components/index/Faq.astro';
import Cta from '../components/index/Cta.astro';
import Parceiros from '../components/index/Parceiros.astro';
import Localizacao from '../components/index/Localizacao.astro';
import Contato from '../components/index/Contato.astro';
import Footer from '../components/index/Footer.astro';
import Transporte from '../components/index/Transporte.astro';
import WhatsappButton from '../components/index/WhatsappButton.astro';
---

<Layout title="Dr. Animal - Clínica Veterinária">
  <Navbar />
  <main>
    <Hero />
    <Servicos />
    <Transporte />
    <Depoimentos />
    <Sobre />
    <Equipe />
    <Galeria />
    <Blog />
    <Planos />
    <Faq />
    <Cta />
    <Parceiros />
    <Localizacao />
    <Contato />
  </main>
  <Footer />
  <WhatsappButton />
</Layout>
