---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/domicilio/Navbar.astro';
import Hero from '../components/domicilio/Hero.astro';
import Servicos from '../components/domicilio/Servicos.astro';
import Sobre from '../components/domicilio/Sobre.astro';
import Faq from '../components/domicilio/Faq.astro';
import Cta from '../components/domicilio/Cta.astro';
import Localizacao from '../components/domicilio/Localizacao.astro';
import Contato from '../components/domicilio/Contato.astro';
import Footer from '../components/domicilio/Footer.astro';
import WhatsappButton from '../components/domicilio/WhatsappButton.astro';
import GoogleAdsTag from '../components/GoogleAdsTag.astro';
import Depoimentos from '../components/domicilio/Depoimentos.astro';
---

<Layout title="Dr. Animal - Veterinário Domicílio">
  <GoogleAdsTag />
  <Navbar />
  <main>
    <Hero />
    <Depoimentos />
    <Servicos />
    <Sobre />
    <Faq />
    <Cta />
    <Localizacao />
    <Contato />
  </main>
  <Footer />
  <WhatsappButton />
</Layout>
