---
import { Image } from 'astro:assets';
---

<section class="relative bg-gradient-to-r from-gray-100 to-white pt-20 pb-8 md:pt-28 md:pb-12 overflow-hidden">
  <div class="container mx-auto px-4 overflow-hidden">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-12 items-center">
      <div>
        <h1 class="text-4xl md:text-5xl font-bold text-secondary mb-6">
          Veterinário em <span class="text-primary">  domicílio</span> para seu pet
        </h1>
        <p class="text-gray-700 text-lg mb-8">
          Tenha atendimento veterinário em casa com o respaudo de uma clínica veterinária. Consultas, vacinas, exames, e caso seja necessário, buscamos e entregamos em domicílio para Internações e cirurgias.
        </p>
        <div class="flex flex-col sm:flex-row gap-4">
          <a 
            href="https://tintim.link/whatsapp/d1a3a6b0-0bc6-4664-84f1-9d5a51acf0b1/89a1acac-ead5-48e1-81d9-0481845d24f9" 
            class="bg-primary hover:bg-primary/90 text-white font-bold py-3 px-8 rounded-full transition-colors text-center"
            onclick="return gtag_report_conversion('https://tintim.link/whatsapp/d1a3a6b0-0bc6-4664-84f1-9d5a51acf0b1/89a1acac-ead5-48e1-81d9-0481845d24f9')"
          >
            Agendar Consulta
          </a>
          <a href="#servicos" class="border-2 border-secondary hover:border-primary text-secondary hover:text-primary font-bold py-3 px-8 rounded-full transition-colors text-center">
            Nossos Serviços
          </a>
        </div>
      </div>
      <div class="relative">
        <img 
          src="/images/frente-clinica.jpg" 
          alt="Veterinário cuidando de um cachorro" 
          loading="lazy"
          width="800"
          height="600"
          class="rounded-lg shadow-xl"
        />
        <div class="absolute -bottom-6 -right-6 bg-white p-4 rounded-lg shadow-lg overflow-hidden" style="max-width: 100%; box-sizing: border-box;">
          <div class="flex items-center">
            <div class="bg-green-500 h-3 w-3 rounded-full animate-pulse mr-2"></div>
            <p class="text-sm font-medium text-gray-800">Atendimento disponível</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
